  <mat-toolbar class="py-2 mt-3">
    <small><img src="https://static.coingecko.com/s/coingecko-logo-white-ea42ded10e4d106e14227d48ea6140dc32214230aa82ef63d0499f9c1e109656.png" alt=""></small>
    <small class="example-spacer"></small>
    <mat-form-field appearance="outline">
      <mat-select class="text-sm" (valueChange)="sendCurrency($event)" [(ngModel)]="selectCurrency">
        <mat-option selected value="INR">INR</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
<router-outlet></router-outlet>



<!-- 1.  git remote -v -->
<!-- 2.  git remote add origin git clone line(https://github.com/VishalPandey-20/Crypto_Currency.git) -->
<!-- 3.  git branch -u main -->
<!-- 4.  git branch  main -->
<!-- 5.  git checkout main -->
<!-- 6.  git push origin main -ff -->