<div class="container">
    <div class="row">
        <div class="col-md-3 details">
            <div class="img">
                <img [src]="coinData?.image?.large" alt="">
                <h3 class="text-left m-0">Name - {{coinData?.name}}</h3>
                <h2 class="m-0">Description {{coinData?.description?.en.split('.')[0]}}.</h2>
                <div class="more-detais">
                    <span class="title">Rank: {{coinData?.market_cap_rank}}</span><br>
                    <span class="title">Current Price: {{coinData?.market_data?.current_price?.inr | currency:currency}}</span><br>
                    <span class="title">Market Cap: {{coinData?.market_data?.market_cap?.inr}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div style="display: block;">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [plugins]="barChartPlugins">
                </canvas>
              </div>
        </div>
    </div>
</div>